# Ignore hidden files.
.DS_Store
.idea
Thumbs.db

# Ignore packages.
vendor
node_modules

# Ignore core files.
web/core
web/libraries
web/modules
web/profiles
web/themes

# Ignore default text files
web/robots.txt
web/CHANGELOG.txt
web/COPYRIGHT.txt
web/INSTALL*.txt
web/LICENSE.txt
web/MAINTAINERS.txt
web/UPGRADE.txt
web/README.txt
web/sites/README.txt
web/sites/all/libraries/README.txt
web/sites/all/modules/README.txt
web/sites/all/themes/README.txt

# Ignore paths that contain generated content.
web/sites/*/files
web/sites/*/private
web/sites/*/translations

# Ignore setting files.
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/services*.yml
